# Node (Next.js frontend)
node_modules/
.next/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python (Flask backend)
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
.venv/
.env

# Docker
*.log
docker-compose.override.yml
*.pid

# VS Code
.vscode/

# macOS
.DS_Store

# System
Thumbs.db
